.form-inline {
    display: block;
    height: 24px;
}

.up-down {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
}

.article-overview li {
    padding: 8px 0;
}

.article-overview {
    list-style-type: none;
    padding: 0px;
}

.alert.alert-danger ul li:first-child {
    list-style-type: none;
    font-weight: bold;
}

.alert.alert-danger ul li:nth-child(2) {
    padding-top: 2%;
    margin-left: 5%;
    color: #a94442;
}

.comment-info {
    border-top: 1px solid #eee;
    margin-top: 6px;
    padding-top: 6px;
    font-size: 10px;
}

.urlTitle {
    font-size: 24px;
}

.vote {
    float: left;
    height: 48px;
    margin-right: 4px;
    position: relative;
}

.info {
    font-size: 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.fa-caret-up:before {
    content: "\f0d8";
}

 :hov .cls .fa-caret-up:before {
    content: "\f0d8";
}

.fa-caret-down:before {
    content: "\f0d7";
}

body {
    font-family: 'Lato';
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.panel-content {
    padding: 32px;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.h1, h1 {
    font-size: 36px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.edit-btn {
    margin-left: 8px;
    padding: 0 4px;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-width: 0;
    display: inline-block;
    text-align: center;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button {
    overflow: visible;
}

 :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.disabled {
    color: lightgrey;
}

.comments {
    padding: 32px 0;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.comments li {
    margin: 16px 0 32px 0;
}

.hidden {
    display: none;
}


/*NAVBAR CENTER*/

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}


/*.nav .navbar-nav .navbar-right {
float: left;
}*/

.container {
    width: 100% display: block;
}

.row {
    text-align: center;
    width: 100%;
    display: block;
}

.navbar-nav li:first-child a {
    float: left;
    padding: 0;
    margin: 0;
}

.navbar-nav li:first-child img {
    float: none;
    height: 50px;
    width: 72px;
    padding: 0;
}

@media (max-width:768px) {
    .navbar-nav li:first-child img {
        height: 100%;
        width: 100%;
        margin-bottom: 1em;
    }
}

.aanmelden {
    display: block;
    height: 5em;
    width: 100%;
}

.copyright {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
}

.copyright p {
    padding-top: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-size: 14px;
}

ul.dropdown-menu {
    padding-bottom: 2em;
    padding-left: 1em;
    width: 1em;
    height: 2em;
}

panel-heading.x {
    text-align: center;
}
